<div class="header">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">e-Kompaun</h6>

          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-archive text-dark"> </i> </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark"> Make payment for Compound</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header bg-secondary">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>

                <h5 class="h3 mb-0"> Compound Status</h5>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="chart">
              <div class="amchart" id="piechartdiv1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header bg-secondary">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>

                <h5 class="h3 mb-0">Total Payment</h5>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="chart">
              <div class="amchart" id="barchartdiv1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="card mb-4">
      <div class="card-header bg-secondary">
        <h3 class="mb-0"><i class="fas fa-search" aria-hidden="true"></i>&nbsp;Search</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="ID" placeholder="Search Payment ID">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
              </div>
              <input type="text" class="form-control"  placeholder="Date range"
                name="bsDaterangepicker">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col clearfix">
            <button type="button" class="btn btn-secondary float-right">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="card">
      <div class=" table-responsive">
        <table class=" table align-items-center table-flush">
          <thead class=" thead-light">
            <tr>
              <th class=" sort" data-sort="id" scope="col">Payment ID</th>

              <th class=" sort" data-sort="name" scope="col">Name</th>

              <th class=" sort" data-sort="date" scope="col">Date</th>

              <th class=" sort" data-sort="amount" scope="col">Amount</th>

              <th class=" sort" data-sort="location" scope="col">Location</th>

              <th class=" sort" data-sort="status" scope="col">Status</th>

              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rows">
              <th scope="row">{{row.id}}</th>
              <td>{{row.name}}</td>
              <td>{{row.date}}</td>
              <td>{{row.amount}}</td>
              <td>{{row.location}}</td>
              <td>{{row.status}}</td>
              <td> <button class="btn btn-sm btn-dark" (click)="viewData(row)">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header bg-default">
          <h4 class="modal-title text-white my-auto">Payment Details: {{name}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="input-form mb-2">
            <label class="form-control-label">
              Payment ID
            </label>
            <input class="form-control" style="border:none !important; border-bottom: 1px solid #6373839d !important;"
              placeholder={{id}} type="text"disabled />
          </div>
          <div class="input-form mb-2">
            <label class="form-control-label">
              Compound
            </label>
            <input class="form-control" style="border:none !important; border-bottom: 1px solid #6373839d !important;"
              placeholder={{name}} type="text" disabled/>
          </div>
          <div class="input-form mb-2">
            <label class="form-control-label">
              Date
            </label>
            <input class="form-control" style="border:none !important; border-bottom: 1px solid #6373839d !important;"
              placeholder={{date}} type="text" disabled/>
          </div>
          <div class="input-form mb-2">
            <label class="form-control-label">
              Amount
            </label>
            <input class="form-control" style="border:none !important; border-bottom: 1px solid #6373839d !important;"
              placeholder={{amount}} type="text" disabled/>
          </div>
          <div class="input-form mb-2">
            <label class="form-control-label">
              Location
            </label>
            <input class="form-control" style="border:none !important; border-bottom: 1px solid #6373839d !important;"
              placeholder={{location}} type="text" disabled/>
          </div>
          <div class="input-form mb-2">
            <label class="form-control-label">
              Status
            </label>
            <input class="form-control" style="border:none !important; border-bottom: 1px solid #6373839d !important;"
              placeholder={{status}} type="text" disabled />
          </div>
        </div>

        <!-- Modal footer -->
        <div class="row-xl-12 modal-footer">
          <div *ngIf="status==='pending'">
          <button class="btn btn-success" type="button" (click)="OpenModalPayment()">
            Make Payment
          </button>
          </div>
          <button class="btn btn-outline-danger ml-auto" data-dismiss="modal" type="button" (click)="hide()">
            Close
          </button>
        </div>

      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="showModalPayment ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header bg-default">
          <h4 class="modal-title text-white my-auto">Payment Details: {{name}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="input-form mb-2">
            <label class="form-control-label">
              Amount to Pay
            </label>
            <input class="form-control" style="border:none !important; border-bottom: 1px solid #6373839d !important;"
              placeholder={{amount}} type="text" disabled/>
          </div>
          <div class="form-group">
            <label class="form-control-label">Payment Method</label>
            <select class="form-control custom-select">
              <option hidden selected>Please pick</option>
              <option>Credit Card</option>
              <option>Online Banking</option>
              <option>E-Wallet</option>
            </select>
          </div>

        <!-- Modal footer -->
        <div class="row-xl-12 modal-footer">
          <button  class="btn btn-success" type="button">
            Pay
          </button>
          <button class="btn btn-outline-danger ml-auto" data-dismiss="modal" type="button" (click)="hide()">
            Close
          </button>
        </div>

      </div>
    </div>
  </div>