<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-4">
					<div class="card card-stats" style="height:140px !important;">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Total Applications
									</h5>

									<span class="h2 font-weight-bold mb-0"> 350,897 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
										<i class="ni ni-active-40"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card card-stats" style="height:140px !important;">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Total Complaints
									</h5>

									<span class="h2 font-weight-bold mb-0"> 9245012 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
										<i class="ni ni-chat-round"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card card-stats" style="height:140px !important;">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Production Performance
									</h5>

									<span class="h2 font-weight-bold mb-0"> 49,65% </span>
								</div>

								<div class="col-auto">
									<div class=" icon icon-shape bg-gradient-info text-white rounded-circle shadow">
										<i class="ni ni-chart-bar-32"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-8">
					<div class="card">
						<div class="card-header bg-secondary">
							<h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
							<h5 class="h3 mb-0">
								Total Production and Cost
							</h5>
						</div>
						<div class="card-body">
							<div class="chart">
								<div id="dashboardchartdiv2" style="width: 100%; height: 100%;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid mt--6">
	

	<div class="row">
		<div class="col-xl-12">
			<div class="card">
				<div class="card-header bg-secondary">
					<h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
					<h5 class="h3 mb-0">
						Palm Oil Investment
					</h5>
				</div>
				<div class="card-body">
					<div class="chart">
						<div id="dashboardchartdiv1" style="width: 100%; height: 100%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>